<div class="sidebar">
  <div class="sidebar-element sidebar-element-underlined">
    <span class="vertical-centered">
      <i class="material-icons nav-icon">whatshot</i>
    </span>
  </div>
  <a *ngFor="let item of menuItems" routerLink="{{item.linkURL}}" class="vertical-centered">
    <div class="sidebar-element">
      <div class="nav-element">
        <i class="material-icons nav-icon">{{item.iconName}}</i>
      </div>
      <div class="nav-element showable">{{item.displayName}}</div>
    </div>
  </a>
</div>
