/* You can add global styles to this file, and also import other style files */
@import 'assets/themes/purple_dream';
//@import './themes/clemson';
//@import './themes/blue_dream';
//@import './themes/deep_sea';


$bg_color: $primary_muted_darker;
$card_color: $primary_muted_light;
$accent_1: $primary_dark;
$accent_2: $primary_medium;

$navbar_color: #4c0080;
$text_color: white;
$hover_color: #3d0066;


.themed {
  background-color: $bg_color;
  color: white;
}

a {
  color: $text_color;
  text-decoration: none;
}

.card {
  background-color: $primary_muted_dark;
  margin: 0 0 20px 0;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: $text_color;
}

.card-content {
  padding: 20px;
}

.card-header {
  background-color: $primary_darker;
  border-radius: 10px 10px 0 0;
  border-style: none none solid none;
  border-width: 1px;
  border-color: $text_color;
}

.card-standard {
  height: 350px;
}

.card-short {
  height: 150px;
}

.card-highlight:hover {
  background-color: $primary_muted_medium;
  color: $text_color;
  text-decoration: none;
}

.action {
  margin: 10px 10px 10px 10px;
  padding: 7px 10px 5px 10px;
  border-color: $text_color;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
}

.action:hover {
  background-color: $primary_darker;
}
