/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import 'assets/variables';
@import 'assets/cards';


.workspace {
  padding-left: 20px;
  padding-right: 20px;
}

.themed {
  background-color: $bg_color;
  color: white;
}

a {
  color: $text_color;
  text-decoration: none;
}

i {
  color: $text_color;
}


.app-logo-container {
  width: 80px;
}

.action {
  margin: 10px 5px;
  padding: 7px 10px 5px 10px;
  border-color: $text_color;
  border-width: 1px;
  border-style: solid;
  background-color: $primary_muted_dark;
  border-radius: 10%;
}

.action:hover {
  box-shadow:
    0 0 3px $primary_medium,        /* outer glow */
    -1px 0 5px $accent_light,       /* outer left glow */
    1px 0 8px $accent_medium;       /* outer right glow */
}

.action-button {
  background-color: $primary_muted_dark;
  color: $text_color;
  border-color: $text_color;
  width: 100%;
}

.action-button:hover {
  background-color: $primary_muted_dark;
  color: $text_color;
  box-shadow:
    0 0 3px $primary_medium,         /* outer glow */
    -1px 0 5px $accent_light,        /* outer left glow */
    1px 0 8px $accent_medium;        /* outer right glow */
}


a:hover {
  color: $text_color;
  text-decoration: none;
}

.hatchet-table {
  color: $text_color;
}

td a {
  display: inline-block;
  height:100%;
  width:100%;
}

.thumbnail {
  max-width: 100%;
  padding: 0.5em;
  height: auto;
}
.form-control {
  background-color: $form-background !important;
  color: $text_color !important;
  border: 1px solid $text_color !important;
}

.form-control:focus {
  border: 1px solid $form-outline !important;
  box-shadow: none !important;
}
