<div class="card card-standard">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <table class="hatchet-table table table-condensed table-active">
        <thead>
          <tr>
            <th>Rank</th>
            <th></th>
            <th>Team</th>
            <th>Record</th>
            <th>Last Week</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ranking of rankings">
            <td>{{ranking.rank}}</td>
            <td>
                <img
                  alt="{{ranking.team.id}}"
                  src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/ncaa/500/228.png&w=20&h=20">
            </td>
            <td>
             <a href="/teams/{{ranking.team.id}}">{{ranking.team.name}}</a>
            </td>
            <td>7-0</td>
            <td>{{ranking.getPriorRank()}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
