@import "../../styles.scss";

.navbar {
  padding: 15px 30px;
  background-color: $primary-muted_darker !important;
  margin-bottom: 0;
  border-bottom: solid !important;
  border-bottom-color: $accent_dark !important;
}

.nav-icon {
  color: $text_color;
  height: 32px;
}
