@import '~bootstrap/dist/css/bootstrap.css';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import 'variables';


.card {
  background-color: $primary_muted_dark;
  margin: 0 0 20px 0;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  //border-color: $text_color;
}

.card-content {
  padding: 20px;
}

.card-header {
  background-color: $primary_muted_slightly_darker;
  border-radius: 5px;
  border-style: none none solid none;
  border-width: 1px;
  //border-color: $text_color;
}

.card-header-unpadded {
  padding: 0;
}

.card-standard {
  padding: 25px;
}

.card-highlight:hover {
  color: $text_color;
  text-decoration: none;
  box-shadow:
    0 0 3px $primary_medium,        /* outer glow */
    -1px 0 5px $accent_light,     /* outer left glow */
    1px 0 8px $accent_medium;      /* outer right glow */
}

.card-actions {
  margin: -20px -20px 10px -20px;
  padding: 20px 20px 20px 20px;
  border-color: white;
  border-width: 1px;
  border-style: none none solid none;
}

.cards-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.app-card-small {
  flex: 0 1 100%;
}

.app-card-md {
  flex: 0 1 100%;
}

.app-card-lg {
  flex: 0 1 100%;
}

.app-card-greedy {
  flex: 1 0 auto;
}

// this is for using inside a "large" size supercontainer that
// is itself part of a flex row of cards. subcard should be aware
// of the size of its parent container at various breakpoints and
// resize accordingly
.app-subcard {
  flex: 0 1 100%;
}

@media screen and (min-width: 26em) {
  .app-card-xs {
    flex: 0 1 calc(50% - 0.5em);
  }
}

// breakpoint 1: 40em (
@media screen and (min-width: 40em) {
  .app-card-xs {
    flex: 0 1 calc(33% - 1em);
  }
  .app-card-small {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 52em) {
  .app-card-xs {
    flex: 0 1 calc(25% - 1em);
  }
  .app-card-small {
    flex: 0 1 calc(33% - 1em);
  }
  .app-card-md {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .app-card-small {
    flex: 0 1 calc(25% - 1em);
  }

  .app-card-md {
    flex: 0 1 calc(33% - 1em);
  }

  .app-card-lg {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 66em) {
  .app-card-xs {
    flex: 0 1 calc(20% - 1em);
  }
}

//@include media-breakpoint-up(sm) {
//  .app-card-small {
//    flex: 0 1 calc(50% - 1em);
//  }
//}
//
//@include media-breakpoint-up(md) {
//  .app-card-small {
//    flex: 0 1 calc(33% - 1em);
//  }
//}
//
//@include media-breakpoint-up(lg) {
//  .app-card-small {
//    flex: 0 1 calc(25% - 1em);
//  }
//
//  .app-card-md {
//    flex: 0 1 calc(50% - 1em);
//  }
//}
