//@import 'themes/blue_dream';
@import 'themes/hatchet';
//@import 'assets/themes/deep_sea';
//@import 'assets/themes/darkness';
//@import 'assets/themes/purple_dream';
//@import 'assets/themes/clemson';


$bg_color: $primary_muted_darker;
$card_color: $primary_muted_light;
$accent_1: $accent_dark;
$accent_2: $accent_medium;

$navbar_color: #4c0080;
$sidebar_icon_color: white;
$text_color: $primary_light;
$hover_color: #3d0066;
