$primary_darker: #400080;  // 20% lightness
$primary_dark: #5900b3;    // 35% lightness
$primary_medium: #7300e6;  // 45% lightness
$primary_light: #a64dff;   // 65% lightness
$primary_lighter: #cc99ff; // 80% lightness

$primary_muted_darker: #0a1327;
$primary_muted_slightly_darker: #182646;
$primary_muted_dark: #1b2c50;
$primary_muted_medium: #0000e6;
$primary_muted_light: #4d4dff;
$primary_muted_lighter: #9999ff;

$accent_darker: #003380;
$accent_dark: #0052cc;
$accent_medium: #1a75ff;
$accent_light: #66a3ff;
$accent_lighter: #99c2ff;

$status-okay: hsl(216, 75, 75);
$status-okay-dark: hsl(216, 75, 15);
$status-error: hsl(0, 75, 75);
$status-error-dark: hsl(0, 75, 15);
$status-warn: hsl(15, 75, 75);
$status-info: hsl(200, 75, 75);
