$primary_darker: hsl(270, 100, 25);  // 20% lightness
$primary_dark: hsl(270, 100, 35);    // 35% lightness
$primary_medium: hsl(270, 100, 45);  // 45% lightness
$primary_light: hsl(270, 100, 65);   // 65% lightness
$primary_lighter: hsl(270, 100, 80); // 80% lightness

$primary_muted_darker: hsl(240, 18, 15);
$primary_muted_dark: hsl(240, 18, 25);
$primary_muted_medium: hsl(240, 20, 45);
$primary_muted_light: hsl(240, 20, 65);
$primary_muted_lighter: hsl(240, 20, 80);

$accent_darker: hsl(216, 100, 25);
$accent_dark: hsl(216, 100, 40);
$accent_medium: hsl(216, 100, 55);
$accent_light: hsl(216, 100, 70);
$accent_lighter: hsl(216, 100, 80);

$status-okay: hsl(216, 75, 75);
$status-okay-dark: hsl(216, 75, 15);
$status-error: hsl(0, 75, 75);
$status-error-dark: hsl(0, 75, 15);
$status-warn: hsl(15, 75, 75);
$status-info: hsl(200, 75, 75);
