$primary_darker: hsl(180, 100, 15);  // 20% lightness
$primary_dark: hsl(180, 100, 35);    // 35% lightness
$primary_medium: hsl(180, 100, 45);  // 45% lightness
$primary_light: hsl(180, 100, 65);   // 65% lightness
$primary_lighter: hsl(180, 100, 80); // 80% lightness

$primary_muted_darker: hsl(173, 40, 5);
$primary_muted_dark: hsl(173, 40, 10);
$primary_muted_medium: hsl(173, 22, 20);
$primary_muted_light: hsl(173, 40, 45);
$primary_muted_lighter: hsl(173, 40, 55);

$accent_darker: hsl(173, 100, 20);
$accent_dark: hsl(173, 100, 25);
$accent_medium: hsl(173, 100, 55);
$accent_light: hsl(173, 100, 70);
$accent_lighter: hsl(173, 100, 80);

