<div class="container-fluid" *ngIf="conference$ | async as conference">
  <h1>
    <span>{{conference.name}}</span>
  </h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-content">
        <h4>
          <span>Actions </span>
          <span class="action"><a routerLink="/conferences"><i class="material-icons">arrow_upward</i></a></span>
          <span class="action"><i class="material-icons">edit</i></span>
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let member of members" class="col-lg-3">
      <a routerLink="/teams/{{member.id}}">
        <div class="card card-short card-highlight">
          <div class="card-header">
            <h4>
              <span>{{member.name}}</span>
            </h4>
          </div>
          <div class="card-content">
            <h6>{{member.shortName}}</h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
