<div class="container-fluid" *ngIf="conference$ | async as conference">
  <h1>{{conference.name}}</h1>
  <div class="row">
    <table class="table table-dark">
      <thead>
        <th>Field</th><th>Value</th>
      </thead>
      <tbody>
        <tr><td>Conference</td><td>{{conference.name}}</td></tr>
        <tr><td>Conference id</td><td>{{conference.id}}</td></tr>
        <tr><td>Short Name</td><td>{{conference.shortName}}</td></tr>
        <tr><td>Conference Code</td><td>{{conference.code}}</td></tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div *ngFor="let member of members" class="col-lg-3">
      <a routerLink="/teams/{{member.id}}">
        <div class="card card-short card-highlight">
          <div class="card-header">
            <h4>{{member.name}}</h4>
          </div>
          <div class="card-content">
            <h6>{{member.shortName}}</h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
