<div class="container-fluid">
  <div class="row">
    <div *ngFor="let team of teams" class="col-md-3">
      <a routerLink="/teams/{{team.id}}">
        <div class="card card-short card-highlight">
          <div class="card-header">
            <h4>
              <span>{{team.name}}</span>
              <span style="float:right"><i class="material-icons">edit</i></span>
            </h4>
          </div>
          <div class="card-content">
            <h6>{{team.shortName}} {{team.mascot}}</h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
