<div *ngIf="team$ | async as team" class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>
                <span>{{team.name}} </span>
                <span>{{team.mascot}}</span>
              </h4>
            </div>
            <div class="card-content">
              <div class="card-actions">
                <h4>
                  <a routerLink="/conferences/{{team.conferenceId}}"><span class="action"><i class="material-icons">arrow_upward</i></span></a>
                  <span class="action"><i class="material-icons">edit</i></span>
                </h4>
              </div>
              <div *ngIf="record$ | async as record">
                <span>{{ record.wins }}-{{ record.losses }}</span>
                <span> ({{record.confWins}}-{{record.confLosses}} in conference)</span>
              </div>
            </div>
          </div>
          <div>
            <table class="table table-bordered hatchet-table">
              <tr>
                <td>Select a Seson</td>
                <td *ngFor="let season of availableSeasons"
                    class="season-selector"
                    [class.season-selected]="season==currentSeason"
                    (click)="setSeason(season)">
                  {{ season }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="games$ | async as games">
        <app-schedule [games]="games" [team]="team"></app-schedule>
      </div>
    </div>
  </div>
</div>
