@import '../../../../styles';


.season-selector {
  color: $text_color;
}

.season-selector:hover {
  background-color: $primary-muted-medium;
}

.season-selected {
  background-color: $primary-dark;
  color: $accent_dark;
}

.season-selected:hover {
  background-color: $primary-medium;
  color: $accent_medium;
}

.dropdown-menu {
  background-color: $primary_muted_dark;
  border-width: 1px;
  border-color: $primary_muted_medium;
  border-style: solid;
  border-radius: 10px;
}

.season-widget {
  padding: 20px;
}

.season-selector-widget {
  //margin: 20px;
}
