@import '../../../../assets/themes/purple_dream';


.week-selector {
  color: white;
}

.week-selector:hover {
  background-color: $primary-muted-medium;
}

.week-selected {
  background-color: $primary-medium;
}

.week-selected:hover {
  background-color: $primary-dark;
}

.season-selector {
  color: white;
}

