<div *ngIf="team$ | async as team" class="container-fluid">
  <div class="row">
    <h1>
      <span>{{team.name}} </span>
      <span>{{team.mascot}}</span>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-content">
        <h4>
          <span>Actions </span>
          <span class="action"><a routerLink="/conferences/{{team.conferenceId}}"><i class="material-icons">arrow_upward</i></a></span>
          <span class="action"><i class="material-icons">edit</i></span>
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="games$ | async as games" class="col-lg-12">
      <app-schedule [games]="games" [team]="team"></app-schedule>
    </div>
  </div>
</div>
