<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="hatchet-table table table-sm table-responsive">
        <thead><tr>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th>Coordinates</th>
          <th>Built</th>
          <th>Capacity</th>
        </tr></thead>
        <tbody>
          <tr *ngFor="let s of stadiums">
            <td><a routerLink="/stadiums/{{s.id}}">{{ s.name }}</a></td>
            <td>{{ s.city }}</td>
            <td>{{ s.state }}</td>
            <td>{{ s.latitude }} {{ s.longitude }}</td>
            <td>{{ s.built }}</td>
            <td>{{ s.capacity | number: '5.0' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
